

/backend/node_modules
/backend/.vscode 
.vscode
/backend/.env
/backend/package-lock.json
/backend/dist
/public/node_modules
/public/package-lock.json
/public/dist

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests
/playwright.config.ts